<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6pndra2Rm1jZYyV6R-SmpsaBagWVveqM</string>
	<key>GCM_SENDER_ID</key>
	<string>721923810198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hy.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todolist-9efad</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-9efad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721923810198:ios:6febdc0f9c49ac3c16f3b7</string>
</dict>
</plist>